In [1]:
import requests
from bs4 import BeautifulSoup

In [4]:
url = 'https://books.toscrape.com/catalogue/category/books/childrens_11/index.html'
# to be as a general code for any link
response = requests.get(url)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content,'lxml')
soup.title  # a way to return soup to see its content as a title

<title>
    Childrens |
     Books to Scrape - Sandbox

</title>

In [6]:
#Trials on first title by find
soup.find('h3')

In [7]:
soup.find('h3').a.text
# the title is not complete

'Birdsong: A Story in ...'

In [8]:
soup.find('h3').a['title']
# This is the first correct title way

'Birdsong: A Story in Pictures'

In [9]:
soup.find('h3').a.get('title')
# This is the second correct title way

'Birdsong: A Story in Pictures'

In [10]:
#Trials on all titles by find_all
soup.find_all('h3')

[<h3><a href="../../../birdsong-a-story-in-pictures_975/index.html" title="Birdsong: A Story in Pictures">Birdsong: A Story in ...</a></h3>,
 <h3><a href="../../../the-bear-and-the-piano_967/index.html" title="The Bear and the Piano">The Bear and the ...</a></h3>,
 <h3><a href="../../../the-secret-of-dreadwillow-carse_944/index.html" title="The Secret of Dreadwillow Carse">The Secret of Dreadwillow ...</a></h3>,
 <h3><a href="../../../the-white-cat-and-the-monk-a-retelling-of-the-poem-pangur-ban_865/index.html" title="The White Cat and the Monk: A Retelling of the Poem “Pangur Bán”">The White Cat and ...</a></h3>,
 <h3><a href="../../../little-red_817/index.html" title="Little Red">Little Red</a></h3>,
 <h3><a href="../../../walt-disneys-alice-in-wonderland_777/index.html" title="Walt Disney's Alice in Wonderland">Walt Disney's Alice in ...</a></h3>,
 <h3><a href="../../../twenty-yawns_773/index.html" title="Twenty Yawns">Twenty Yawns</a></h3>,
 <h3><a href="../../../rain-fish_728/index.html" title="Rain Fish">Rain Fish</a></h3>,
 <h3><a href="../../../once-was-a-time_724/index.html" title="Once Was a Time">Once Was a Time</a></h3>,
 <h3><a href="../../../luis-paints-the-world_714/index.html" title="Luis Paints the World">Luis Paints the World</a></h3>,
 <h3><a href="../../../nap-a-roo_567/index.html" title="Nap-a-Roo">Nap-a-Roo</a></h3>,
 <h3><a href="../../../the-whale_501/index.html" title="The Whale">The Whale</a></h3>,
 <h3><a href="../../../shrunken-treasures-literary-classics-short-sweet-and-silly_484/index.html" title="Shrunken Treasures: Literary Classics, Short, Sweet, and Silly">Shrunken Treasures: Literary Classics, ...</a></h3>,
 <h3><a href="../../../raymie-nightingale_482/index.html" title="Raymie Nightingale">Raymie Nightingale</a></h3>,
 <h3><a href="../../../playing-from-the-heart_481/index.html" title="Playing from the Heart">Playing from the Heart</a></h3>,
 <h3><a href="../../../maybe-something-beautiful-how-art-transformed-a-neighborhood_386/index.html" title="Maybe Something Beautiful: How Art Transformed a Neighborhood">Maybe Something Beautiful: How ...</a></h3>,
 <h3><a href="../../../the-wild-robot_288/index.html" title="The Wild Robot">The Wild Robot</a></h3>,
 <h3><a href="../../../the-thing-about-jellyfish_283/index.html" title="The Thing About Jellyfish">The Thing About Jellyfish</a></h3>,
 <h3><a href="../../../the-lonely-ones_261/index.html" title="The Lonely Ones">The Lonely Ones</a></h3>,
 <h3><a href="../../../the-day-the-crayons-came-home-crayons_241/index.html" title="The Day the Crayons Came Home (Crayons)">The Day the Crayons ...</a></h3>]

In [11]:
book_names = soup.find_all('h3')
names_list1 = [book_name.a.text for book_name in book_names]
names_list1

['Birdsong: A Story in ...',
 'The Bear and the ...',
 'The Secret of Dreadwillow ...',
 'The White Cat and ...',
 'Little Red',
 "Walt Disney's Alice in ...",
 'Twenty Yawns',
 'Rain Fish',
 'Once Was a Time',
 'Luis Paints the World',
 'Nap-a-Roo',
 'The Whale',
 'Shrunken Treasures: Literary Classics, ...',
 'Raymie Nightingale',
 'Playing from the Heart',
 'Maybe Something Beautiful: How ...',
 'The Wild Robot',
 'The Thing About Jellyfish',
 'The Lonely Ones',
 'The Day the Crayons ...']

In [12]:
book_names = soup.find_all('h3')
names_list2 = [book_name.a.get('title') for book_name in book_names]
names_list2
# this way is better as the title all is shown not hidden

['Birdsong: A Story in Pictures',
 'The Bear and the Piano',
 'The Secret of Dreadwillow Carse',
 'The White Cat and the Monk: A Retelling of the Poem “Pangur Bán”',
 'Little Red',
 "Walt Disney's Alice in Wonderland",
 'Twenty Yawns',
 'Rain Fish',
 'Once Was a Time',
 'Luis Paints the World',
 'Nap-a-Roo',
 'The Whale',
 'Shrunken Treasures: Literary Classics, Short, Sweet, and Silly',
 'Raymie Nightingale',
 'Playing from the Heart',
 'Maybe Something Beautiful: How Art Transformed a Neighborhood',
 'The Wild Robot',
 'The Thing About Jellyfish',
 'The Lonely Ones',
 'The Day the Crayons Came Home (Crayons)']

In [13]:
prices = soup.find_all('p',{'class': 'price_color'})
prices_list = [price.text for price in prices]
prices_list

['£54.64',
 '£36.89',
 '£56.13',
 '£58.08',
 '£13.47',
 '£12.96',
 '£22.08',
 '£23.57',
 '£18.28',
 '£53.95',
 '£25.08',
 '£35.96',
 '£52.87',
 '£34.41',
 '£32.38',
 '£22.54',
 '£56.07',
 '£48.77',
 '£43.59',
 '£26.33']

In [14]:
import pandas as pd
scraped_data = {}
scraped_data['title'] = names_list2
scraped_data['price'] = prices_list

df = pd.DataFrame(scraped_data)
df.to_csv('Sara_children.csv', index = False)
print('Prices and Books sucess scraped')
print(df)

Prices and Books sucess scraped
                                                title   price
0                       Birdsong: A Story in Pictures  £54.64
1                              The Bear and the Piano  £36.89
2                     The Secret of Dreadwillow Carse  £56.13
3   The White Cat and the Monk: A Retelling of the...  £58.08
4                                          Little Red  £13.47
5                   Walt Disney's Alice in Wonderland  £12.96
6                                        Twenty Yawns  £22.08
7                                           Rain Fish  £23.57
8                                     Once Was a Time  £18.28
9                               Luis Paints the World  £53.95
10                                          Nap-a-Roo  £25.08
11                                          The Whale  £35.96
12  Shrunken Treasures: Literary Classics, Short, ...  £52.87
13                                 Raymie Nightingale  £34.41
14                             Playing from the Heart  £32.38
15  Maybe Something Beautiful: How Art Transformed...  £22.54
16                                     The Wild Robot  £56.07
17                          The Thing About Jellyfish  £48.77
18                                    The Lonely Ones  £43.59
19            The Day the Crayons Came Home (Crayons)  £26.33

In [15]:
#another way
book_dic = {
    'titles': names_list2,
    'prices': prices_list
}
table = pd.DataFrame(book_dic)
print('Prices and Books sucess scraped')
print(table)

Prices and Books sucess scraped
                                               titles  prices
0                       Birdsong: A Story in Pictures  £54.64
1                              The Bear and the Piano  £36.89
2                     The Secret of Dreadwillow Carse  £56.13
3   The White Cat and the Monk: A Retelling of the...  £58.08
4                                          Little Red  £13.47
5                   Walt Disney's Alice in Wonderland  £12.96
6                                        Twenty Yawns  £22.08
7                                           Rain Fish  £23.57
8                                     Once Was a Time  £18.28
9                               Luis Paints the World  £53.95
10                                          Nap-a-Roo  £25.08
11                                          The Whale  £35.96
12  Shrunken Treasures: Literary Classics, Short, ...  £52.87
13                                 Raymie Nightingale  £34.41
14                             Playing from the Heart  £32.38
15  Maybe Something Beautiful: How Art Transformed...  £22.54
16                                     The Wild Robot  £56.07
17                          The Thing About Jellyfish  £48.77
18                                    The Lonely Ones  £43.59
19            The Day the Crayons Came Home (Crayons)  £26.33

In [16]:
soup.find('form',{'class': 'form-horizontal'}).text

'\n\n\n29 results - showing 1 to 20.\n                \n            \n            \n        \n    '

In [17]:
soup.find('form',{'class': 'form-horizontal'}).text[6:31]

'results - showing 1 to 20'

In [18]:
soup.find('form',{'class': 'form-horizontal'}).text.split('\n')

['',
 '',
 '',
 '29 results - showing 1 to 20.',
 '                ',
 '            ',
 '            ',
 '        ',
 '    ']

In [19]:
soup.find('form',{'class': 'form-horizontal'}).text.split('\n')[3]

'29 results - showing 1 to 20.'

In [20]:
try1 = soup.find('form',{'class': 'form-horizontal'}).text.split('\n')[3]
try1

'29 results - showing 1 to 20.'

In [21]:
try1.split('.')
# split at word to that is written

['29 results - showing 1 to 20', '']

In [22]:
try1.split('.')[0]

'29 results - showing 1 to 20'

In [23]:
try1.split('.')[0].split('to ')

['29 results - showing 1 ', '20']

In [24]:
try2 = try1.split('.')[0].split('to ')
try2[1]

'20'

In [25]:
no_books_page = int(try2[1])
no_books_page
# finally you extracted the max numbers as int

20

In [26]:
# to get the max numbers
soup.find('form',{'class': 'form-horizontal'}).find('strong').text

'29'

In [27]:
max_no_books = int(soup.find('form',{'class': 'form-horizontal'}).find('strong').text)
max_no_books
# finally you got max number of books as int

29

In [28]:
# if trying manual without extracing
# simplest
48/20

2.4

In [29]:
import math
math.ceil(48/20)
# to decimal for larger

3

In [30]:
# in my link of children 29 result showing 1-20
print(29/20)
math.ceil(29/20)
# first page = 20 / second = 29-20 = 9

1.45

2

In [31]:
no_books = int(math.ceil(29/20))
no_books

2

In [32]:
# to develop a function for number of pages to any category ...historicalfiction
def pages():
    url = 'https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html'
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'lxml')
    txt = soup.find('h3').a['title']
    max_num = int(soup.find('form',{'class': 'form-horizontal'}).find('strong').text)
    pages = math.ceil(max_num / 20)
    return pages

In [33]:
pages()

2

In [34]:
math.ceil(26/20)

2

In [36]:
# the best way is:
import math
total_no_of_books = int(soup.find('form', class_='form-horizontal').find('strong').text)
no_of_books_per_page = 20
no_of_pages = math.ceil(total_no_of_books / no_of_books_per_page)
print(f'Total number of books: {total_no_of_books}')
print(f'Number of books per page: {no_of_books_per_page}')
print(f'Total number of pages: {no_of_pages}')

Total number of books: 29
Number of books per page: 20
Total number of pages: 2

In [50]:
# to get rating of books
ratings_test = soup.find('p', class_ = 'star-rating')
print(ratings_test)
ratings_test['class'][1]

<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

'Three'

In [46]:
#the best way is:
ratings = [rating['class'][1] for rating in soup.find_all('p', class_ = 'star-rating')]
ratings

['Three',
 'One',
 'One',
 'Four',
 'Three',
 'Five',
 'Two',
 'Three',
 'Two',
 'Three',
 'One',
 'Four',
 'Three',
 'Two',
 'One',
 'One',
 'Three',
 'One',
 'Five',
 'Five']